# Ignore node_modules directory
node_modules/

# Ignore compiled TypeScript files
dist/
*.js

# Ignore source map files
*.map

# Ignore Sass cache files
.sass-cache/

# Ignore system files
.DS_Store

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore the .env file
.env

# Ignore any lock files
package-lock.json
yarn.lock

# Ignore build output directories
build/
