*{margin: 0;
padding:0;  
}



body{
    background-image: url(./Photos/firmbee-com-YtQAhNbqa2o-unsplash.jpg);
    height: 100%;
    width: 100%;
    background-attachment: center;
    background-size:cover;
    color: aliceblue;
    font-family: italic; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

h4{
    font-size: 1em;
    font: weight 900;
    text-align:justify;
    padding-left: .7em;
    padding-right: .7em;
    line-height: 1.4em;
    letter-spacing: .5px;
    text-shadow: 2px 2px #000000;
}

h2{
    text-shadow: 1px 1px #000000;
    font-size: 1.25em;

}

h3{
    font-size: .8em;
    text-shadow: 1px 1px #000000;
}

img{
    transform: rotate(45deg);
    margin-right: 1em;
    cursor: pointer;
}



nav{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

nav h1{
    padding-left:.8em;
    padding-top:.8em;
    cursor: pointer;
    font-size: 1.5em;
    font-family: fantasy; 
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    
}



.header{
    display: flex;

    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.3em;
    flex-direction: column;
}

.header p{
    font-size: .7em;
    
}


.alphabet{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: .5px;
}

.alphabet div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:.9em;
    text-shadow: 1px 1px #000000;
    
}

.instructions{
    display: flex;
    justify-content: center;
    height:50vh;
    width:100%;
    align-items: center;
}

.instructions div{
    display: flex;
    
}

.left-info{
    display: flex;
    flex-direction: column;
    
}

.left-info div{
    display: flex;
    flex-direction: column;
    padding-left:1.5em;
    padding-right:1.5em;
    align-items: center;
}

.right-info{
    display: flex;
    flex-direction: column;
}

.right-info div {
    display: flex;
    flex-direction: column;
    padding-left:1.5em;
    padding-right:1.5em;
    align-items: center;
}

#piano{
    display:flex;
    flex-direction: column;
    min-width: 60%;
    max-height:90%;
    background-color: black;
    border-radius: 20px;
    padding:1em;
    padding-left:3em;
    padding-right: 3em;
    padding-bottom: 2em;
    align-items: center;
    height:100%;
}

.non-keys{
    font-size: 2em;
    font-family: fantasy;
}

.keys{
    display:flex;
    width:100%;
    height:100%;
    align-items: flex-start;
    font-family: copperplate;
    
    border-radius: 20px;
}

.keys div{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background: linear-gradient(#fff 97%, #eae0e0 3%);
    border-radius: 5px 5px 10px 10px;
}

.black{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background: linear-gradient(#333, #000);
    border-radius: 0 0 5px 5px;
    height:50%;
    width:100%;
    text-align: center;
}

.black-pushed{
    box-shadow: inset -5px 5px 10px black(255,255,255,.1);
    background: linear-gradient(to bottom, #000, #595959)
}


.white{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    width:100%;
    height:100%;
    text-align: center;
}

.white-pushed{
    box-shadow: inset -5px 5px 10px black(0,0,0,.2);
    background: linear-gradient(to right, #bbbaba 0%, #ffffff 70%)
}

.text-box{
    
    margin:.6em;
    border-radius: 10px;
}

.final{
    display: flex;
    width: 100%;
    justify-content: center;
}

.final div{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top: .2em;
    width: 65%;
    border-radius: 5px 125px 5px 125px;
    font-size: 1.4em;
}

/* copied code below, cited in README */



















